@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; 
   font-family: "Public Sans", "Noto Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
div[aspectratio="cover"]{
    height: 200px !important;
    width: 200px !important;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
div.camera-wrapper div[aspectratio="cover"]{
    height: 70px !important;
    width: 70px !important;
    border: 1px solid rgb(255, 255, 255);
}
video{
    border-radius: 50% !important;
}
div.camera-wrapper video{
    border-radius: 10px !important;
}
div[aspectratio="cover"] div{
    color: #fff !important;
    font-size: 12px;
}
@layer components {
    .heading {
        @apply text-[28px] leading-8 font-bold text-[#07080B] text-center mb-3 md:mb-6 max-w-6 sm:max-w-full;
    }

    .containerOuter {
        @apply top-0 left-0 h-screen md:grid md:place-items-center
    }

    .containerInner {
        @apply w-full min-h-[12rem] md:w-[600px] bg-white md:rounded-[20px] flex flex-col justify-center p-4 md:p-8 relative
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
